<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%-include("../shared/imports.ejs")%>
  </head>
  <body class="vh-100 blue-gradient">
    <%-include("../shared/header.ejs")%>

    <div
      class="container h-75 d-flex justify-content-center align-items-center"
    >
      <div class="card col-10 border-black">
        <div class="card-header bg-black text-white">
          <h6 class="mt-2 p-1">LISTAGEM DE VIAGENS</h6>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Editar</th>
                <th>Motorista</th>
                <th>Data de partida</th>
                <th>Data de chegada</th>
                <th>Cidade origem</th>
                <th>Cidade destino</th>
                <th class="text-center">Apagar</th>
              </tr>
            </thead>
            <tbody>
              <%Viagens.forEach(function (viagem) {%>
              <tr>
                <td class="text-center">
                  <a
                    class="btn btn-light"
                    href="/viagem/cadastro/<%=viagem._id%>"
                    >&#9998;</a
                  >
                </td>
                <td><%=viagem.motorista.nome%></td>
                <td><%=moment(viagem.dataPartida).format("DD/MM/YYYY")%></td>
                <td><%=moment(viagem.dataChegada).format("DD/MM/YYYY")%></td>
                <td><%=viagem.cidadeOrigem%></td>
                <td><%=viagem.cidadeDestino%></td>
                <td class="text-center">
                  <a
                    class="btn btn-danger"
                    href="/viagem/apagar/<%=viagem._id%>"
                    >X</a
                  >
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
