<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%-include("../shared/imports.ejs")%>
  </head>
  <body class="vh-100 blue-gradient">
    <%-include("../shared/header.ejs")%>

    <div
      class="container h-75 d-flex justify-content-center align-items-center"
    >
      <div class="card col-10 border-black">
        <div class="card-header bg-black text-white">
          <h6 class="mt-2 p-1">LISTAGEM DE PASSAGENS</h6>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Editar</th>
                <th>Data de partida</th>
                <th>Cidade origem</th>
                <th>Cidade destino</th>
                <th>Número do assento</th>
                <th>Preço</th>
                <th>Status</th>
                <th class="text-center">Apagar</th>
              </tr>
            </thead>
            <tbody>
              <%Passagens.forEach(function (passagem) {%>
              <tr>
                <td class="text-center">
                  <a
                    class="btn btn-light"
                    href="/passagem/cadastro/<%=passagem._id%>"
                    >&#9998;</a
                  >
                </td>
                <td>
                  <%=moment(passagem.viagem.dataPartida).format("DD/MM/YYYY")%>
                </td>
                <td><%=passagem.viagem.cidadeOrigem%></td>
                <td><%=passagem.viagem.cidadeDestino%></td>
                <td><%=passagem.numAssento%></td>
                <td><%=passagem.preco%></td>
                <td><%=passagem.status%></td>
                <td class="text-center">
                  <a
                    class="btn btn-danger"
                    href="/passagem/apagar/<%=passagem._id%>"
                    >X</a
                  >
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
