<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%-include("../shared/imports.ejs")%>
  </head>
  <body class="vh-100 blue-gradient">
    <%-include("../shared/header.ejs")%>

    <div
      class="container h-75 d-flex justify-content-center align-items-center"
    >
      <div class="card col-10 border-black">
        <div class="card-header bg-black text-white">
          <h6 class="mt-2 p-1">LISTAGEM DE COMPRAS</h6>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Data de partida</th>
                <th>Cidade origem</th>
                <th>Cidade destino</th>
                <th>Número do assento</th>
                <th>Cliente</th>
                <th>Data da compra</th>
                <th class="text-center">Apagar</th>
              </tr>
            </thead>
            <tbody>
              <%Compras.forEach(function (compra) {%>
              <tr>
                <td>
                  <%=moment(compra.passagem.viagem.dataPartida).format("DD/MM/YYYY")%>
                </td>
                <td><%=compra.passagem.viagem.cidadeOrigem%></td>
                <td><%=compra.passagem.viagem.cidadeDestino%></td>
                <td><%=compra.passagem.numAssento%></td>
                <td><%=compra.cliente.nome%></td>
                <td><%=moment(compra.dataCompra).format("DD/MM/YYYY")%></td>
                <td class="text-center">
                  <a
                    class="btn btn-danger"
                    href="/compra/apagar/<%=compra._id%>"
                    >X</a
                  >
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
